[core]
  editor = vim

[user]
  email = bmbalex@gmail.com
  name = bumbu

[color]
  ui = true

[diff]
  memonicprefix = true
  algorithm = patience

[push]
  default = simple

[alias]
  # show all aliases
  la = "!git config -l | grep alias | cut -c 7-"

  # commits
  ci = commit
  cim = commit -m
  ciam = commit -a -m
  ciallm = !git add -A && git commit -m
  amend = commit -a --amend

  # branches
  co = checkout
  cd = checkout
  pwd = branch
  new = checkout -b
  delete = branch -d
  delete-merged-branches = "!f() { git checkout --quiet master && git branch --merged | grep --invert-match '\\*' | xargs -n 1 git branch --delete; git checkout --quiet @{-1}; }; f"
  whereiam = rev-parse --abbrev-ref HEAD

  # files manipulations
  assume   = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
  revert-file = checkout HEAD -- 

  # patch from diff
  patch-create = diff --no-prefix
  # patch based on branch difference
  # git format-patch master -k --no-prefix --no-signature --stdout --no-stat

  # logs
  ######
  
  st = status -s

  # list
  l = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  
  # list by time past
  ld = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  
  # list by date
  lds = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
  
  # list by numstat
  ln = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  
  # list specific revision
  lr  = "!f() { git l "$1"^.."$1"; }; f"

  # diff last commit
  dl = diff --cached HEAD^

  # list modified files in last commit
  dlf = "!git ln -1"

  # diff specific revision
  dr  = "!f() { git diff "$1"^.."$1"; }; f"
